.LoadingTodo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
}

.LoadingTodo-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px
}

.LoadingTodo-text {
    width: calc(100% - 120px);
    padding: 8px 4px;
}

.LoadingTodo-completeIcon, .LoadingTodo-deleteIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 999px;
}

.LoadingTodo-container, .LoadingTodo-completeIcon, .LoadingTodo-deleteIcon {
    background: linear-gradient(90deg, rgba(250, 250, 250, 1), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

