.todoItemComponent {
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todoItem_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px
}

p {
    margin: 0;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
}